<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBconnectionString" value="Server=mssql;Database=dicomImport;Integrated Security=true;TrustServerCertificate=True;" />
		<add key="serverIp"			value="192.168.1.114"/>
		<add key="serverPort"		value="4242"/>
		<add key="callingAeTitle"	value="MYAET"/>
		<add key="calledAeTitle"	value="SERVER"/>
		<add key="scanFolder"	value="Z:\JoJo\DicomTestDaten"/>
		<add key="tempFolder"	value="C:\Temp"/>
		<add key="institutionRegex"	value="Klinikum"/>
	</appSettings>
</configuration>